<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Day</title>
</head>
<body>
   <h1> <%=kindOfDay%> </h1>
   <ul>
    <!-- <li>get food</li> -->
    <!-- <li>cook food</li> -->
    <!-- <li>eat food</li> -->
    <!-- <li> <%=newItems[i]%> </li> -->
    
    <% for(var i=0;i<newItems.length;i++){ %>
        <li><%= newItems[i] %></li>
        <%}%>


    <form action="/" method="post">
        <input type="text" name="task1">
        <button type="submit">Add Task</button>
    </form>
   </ul>

</body>
</html>